/*

Zeppelin Prototype  : _color.scss
author              : Jeremy Anderson
version             : 1.0

.......................................................*/


/* Variables
...................................................................................................*/

$black: #2e2e2e;

$white: rgba(255,255,255, .95);

$light-blue: #5f93cd;

$border-color: #44c0b8;

$hover-grey: #d8d8d8;

$body-background: #eaeadea;





$primary-color: #699be3;

$secondary-color: #000;

$primary-color-hover: $secondary-color;

$nav-color: $secondary-color;

$nav-color-hover: $primary-color;

$text-color: $secondary-color;

$text-grey: #8e8d8d;

$text-dark-grey: #424243;